@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.otf); }

@font-face {
  font-family: "Montserrat-Hairline";
  src: url(../fonts/Montserrat-Hairline.ttf); }

@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat-Black.otf); }

.section-title {
  font-size: 0; }

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto; }
  .container.container--full-size {
    width: 1245px;
    padding: 0; }
  .container.container--HD {
    width: 1600px;
    padding: 0; }

.advantages {
  background-color: #f1f3f7; }

.advantages__item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  padding-bottom: 125px;
  text-align: center; }

.advantages__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.advantages__inner {
  display: flex;
  min-height: 69px; }

.advantages__image-block {
  height: 60px;
  width: 60px;
  margin-bottom: 25px; }

.advantages__image {
  display: block;
  max-width: 100%;
  height: auto; }

.advantages__title {
  max-width: 190px;
  margin: 0;
  margin-bottom: 25px;
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #232323;
  text-transform: uppercase; }

.advantages__desc {
  margin: 0;
  padding-bottom: 26px;
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #232323;
  opacity: .5; }

.advantages__news {
  align-self: baseline;
  padding: 6px 11px;
  margin-left: 8px;
  border-radius: 10px;
  font-family: "Montserrat-Light";
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #26e6e6; }

.advantages__link {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #232323;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.3s; }
  .advantages__link:hover {
    opacity: .5; }

.capabilities {
  max-width: 385px;
  margin: 115px 0;
  padding-top: 40px;
  background-color: #ffffff; }

.capabilities__item {
  max-width: 225px;
  padding-left: 115px;
  padding-right: 45px;
  padding-bottom: 25px;
  position: relative; }
  .capabilities__item::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: 30px;
    top: 0; }
  .capabilities__item.capabilities__item--image-1::before {
    background: url("../img/capabilities__item-1.png") no-repeat; }
  .capabilities__item.capabilities__item--image-2::before {
    background: url("../img/capabilities__item-2.png") no-repeat; }
  .capabilities__item.capabilities__item--image-3::before {
    background: url("../img/capabilities__item-3.png") no-repeat; }

.capabilities__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 18px;
  font-family: "Montserrat-Light";
  font-size: 18px;
  line-height: 24px;
  color: #232323; }

.capabilities__desc {
  margin: 0;
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #232323;
  opacity: .5; }

.capabilities__btn {
  width: 100%;
  padding: 25px;
  border: 0;
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  outline: 0;
  background-color: #000000; }

.change__title {
  font-family: "Montserrat-Hairline";
  font-size: 72px;
  line-height: 72px;
  color: #ffffff; }

.change__desc {
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  opacity: .5; }

.change__btn {
  padding: 21px 45px;
  border: 0;
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-transform: uppercase;
  background-color: #26e6e6;
  outline: 0; }

.copyright__title {
  font-family: "Montserrat-Light";
  font-size: 11px;
  line-height: 40px;
  color: #ffffff;
  opacity: .2; }

.features__title {
  font-family: "Montserrat-Light";
  font-size: 18px;
  line-height: 26px;
  color: #232323; }

.features__desc {
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #232323;
  opacity: .5; }

.footer-nav__item {
  list-style: none; }

.footer-nav__link {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.join__title {
  font-family: "Montserrat-Hairline";
  font-size: 72px;
  line-height: 72px;
  color: #000000; }

.offer {
  min-height: 900px;
  background-color: #26e6e6; }

.offer__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative; }

.page-footer__title {
  font-family: "Montserrat-Black";
  font-size: 90px;
  line-height: 120px;
  color: #000000;
  text-transform: uppercase; }

.page-gallery {
  position: absolute;
  left: 0;
  top: 0; }

.page-header {
  background-color: #f1f3f7;
  padding-bottom: 100px; }

.page-header__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 790px;
  background: url("../img/promo.jpg") no-repeat; }

.page-header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px; }

.page-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0; }

.page-navigation__item {
  padding-left: 28px;
  list-style: none; }

.page-navigation__link {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #232323;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  opacity: .5;
  transition: opacity 0.3s; }
  .page-navigation__link:hover {
    opacity: 1; }
  .page-navigation__link.page-navigation__link--start-btn {
    display: block;
    background-color: #000000;
    padding: 15px 19px;
    color: #ffffff;
    opacity: 1;
    transition: background-color 0.3s; }
    .page-navigation__link.page-navigation__link--start-btn:hover {
      background-color: #f2f3f8;
      color: #232323; }

.platform__title {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-transform: uppercase; }

.platform__desc {
  font-family: "Montserrat-Light";
  font-size: 18px;
  line-height: 26px;
  color: #232323; }

.portfolio__title {
  font-family: "Montserrat-Black";
  font-size: 26px;
  line-height: 80px;
  color: #000000;
  text-transform: uppercase; }

.promo__title {
  max-width: 420px;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 15px;
  font-family: "Montserrat-Hairline";
  font-size: 72px;
  line-height: 80px;
  color: #000000;
  text-transform: uppercase; }

.promo__subtitle {
  margin: 0;
  padding-bottom: 100px;
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #232323;
  text-transform: uppercase; }

.quote__desc {
  font-family: "Montserrat-Hairline";
  font-size: 42px;
  line-height: 42px;
  color: #232323; }

.quote__author {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-transform: uppercase; }

.rate__title {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 80px;
  color: #000000; }

.rate__price {
  font-family: "Montserrat-Black";
  font-size: 50px;
  line-height: 120px;
  color: #000000; }

.rate__desc {
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  opacity: .5; }

.rate__btn {
  border: 0;
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  background: none; }

.rule__title {
  font-family: "Montserrat-Light";
  font-size: 16px;
  line-height: 22px;
  color: #232323; }

.rule__desc {
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 22px;
  color: #232323;
  opacity: .5; }

.rule__btn {
  border: 0;
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 12px;
  color: #232323;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  background: none; }

.site-link {
  font-family: "Montserrat-Light";
  font-size: 11px;
  line-height: 40px;
  color: #ffffff;
  opacity: .2; }

.statement__title {
  font-family: "Montserrat-Hairline";
  font-size: 72px;
  line-height: 72px;
  color: #232323; }

.statement__desc {
  font-family: "Montserrat-Light";
  font-size: 18px;
  line-height: 26px;
  color: #232323; }
