.page-header {
	background-color: #f1f3f7;
}

.page-header__wrapper {
	max-width: 1600px;
	margin: 0 auto;
	min-height: 790px;
	background: url('../img/promo.jpg') no-repeat;
}

.page-header__inner {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 99999;

	padding-top: 45px;
}