.rate__wrapper {
	background-color: $bg-color;
	padding-bottom: 187px;
}

.rate__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rate {
	position: relative;
	max-width: 304px;
	padding: 84px 35px 0 15px;
	text-align: center;
}

.rate__title {
	margin: 0;
	@include style-text($montserratLight, 12px, 80px, #000000);
	text-transform: uppercase;
}

.rate__price {
	padding-bottom: 20px;
	margin: 0;
	@include style-text($MontserratBlack, 50px, 70px, #000000);
}

.rate__desc {
	min-height: 170px;
	padding: 0 20px 3px;
	margin: 0;
	@include style-text($montserratLight, 14px, 22px, #000000);
	opacity: .5;
}

.rate__btn {
	border: 0;

	@include style-text($montserratLight, 12px, 12px, #000000);
	text-transform: uppercase;
	text-decoration: none;

	background: none;
	cursor: pointer;
}