.rule {
	width: 235px;
	padding: 120px 0 98px;
}

.rule__title {
	margin: 0; 
	@include style-text($montserratLight, 16px, 22px, #232323);
}

.rule__desc {
	min-height: 129px;
	margin: 0;
	padding: 20px 0;
	@include style-text($montserratLight, 14px, 22px, #232323);
	opacity: .5;
}

.rule__btn {
	border: 0;
	padding: 0;

	@include style-text($montserratLight, 12px, 12px, #232323);
	text-transform: uppercase;
	text-decoration: none;

	cursor: pointer;
	@include transition(opacity .3s);
	background: none;

	&:hover {
		opacity: .5;
	}
}